.card {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 800px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;
    background-color: #fff;
}

.card:hover {
    box-shadow: 0 0 10px #ccc;
}

.answer {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="radio"] {
    margin: 0 10px 0 0;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}   

#submit {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
